.error-inform{margin-top:3px;font-size:11px;color:#f00;}
.fill-remind{font-size:11px;}
.browse-files{margin-bottom:5px;}
.browse-files *{vertical-align:middle;}
.browse-files .n-grey-button{width:109px;height:27px;}
#photonum_b{font-weight:700;color:#e71}
#uploadifyUploader{visibility:hidden;width:95px;height:30px;background:url(../images/uploadify-browse.gif) no-repeat 0 0;background-position:center;border:0;}
.uploadifyProgress{ background-color: #FFFFFF; border-color: #808080 #C5C5C5 #C5C5C5 #808080;border-style: solid;border-width: 1px; margin-top: 4px;width: 100%;}
.uploadifyProgressBar_img{width:1px;height:6px; background-color:#39be55;}
.uploadifyQueueItem_img{display:inline-block;width:70px;height:37px;}
.browse-files .browsebtn-warp{margin:0 15px 15px -7px;height:30px;line-height:30px;_height:32px;_line-height:32px;}
.browse-files .browsebtn-warp *{vertical-align:middle;}
.image-upload-list{position:relative;zoom:1;float:left;margin-right:15px;border:1px solid #f1f1f1;}
.image-upload-list:hover{border:1px solid #ff8000;} 
.image-upload-list .proimg-delete{display:none;position:absolute;top:-5px;right:-5px;}
.image-upload-list .proimg-delete a{display:block;overflow:hidden;height:16px;width:16px;background:url(../images/uploadify-close.png) no-repeat -81px -46px;}